@mixin center {
    text-align: center;
    justify-content: center;
    align-self: center;
}



.nav-center {
    @include center;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding-left: 20em;
    padding-right: 20em;
}

p {
    font-weight: bold;
}

li {
    list-style-type: none;
    color: black;
    display: inline-flex;
    justify-content: space-between;
    text-decoration: overline;
    a {
        text-decoration: none;
        color: black;
        margin-left:30px;
        &:hover{
            text-transform: uppercase;
            transform: scale(1.1);
            animation: reverse;
        }
    }
}

.container {
    padding-top: 15em;
    width: 940px;
    margin: auto;
    
    @include center;
    .btn {
        border-radius: 15px;
        margin: 20px 20px 20px 20px;
        padding: 10px 10px 10px 10px;
        background-color: transparent;
        border: solid 3px black;
        text-transform: uppercase;
        font-weight: bold;
        &:hover {
            transform: scale(1.2);
        }
        
    }
    h2{
        @include center;
        border: solid 5px black;
        text-transform: uppercase;
        background-color: black;
        border-radius: 30px;
        color: white;
        span {
            &:after {
                content: attr(data-unselectable);
            }
        }
        &:hover {
            background-color: white;
            color: black;
        }
    }
}

footer {
    @include center;
    display: flex;
    flex-wrap: wrap-reverse;
    padding-top: 15em;
    font-weight: bold;
    text-decoration: underline;
}